<div class="dashboard">
  <header class="dashboard-header">
    <h1>Driver Dashboard</h1>
    <div class="header-actions">
      <button class="nav-btn" (click)="navigateTo('rides')">Create Ride</button>
      <button class="nav-btn" (click)="navigateTo('rides-page')">Rides</button>
      <button class="nav-btn" (click)="navigateTo('profile')">User Profile</button>
      <app-notifications [notifications]="notifications" class="driver-notifications"></app-notifications>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  </header>  

  <main class="dashboard-main">
    <section class="quick-info">
      <h2>Welcome, {{ driver.fullName }}</h2>
      <p>Total Rides: {{ driver.rideHistory?.length }}</p>
      
      <h3>Planned Rides:</h3>
      <ul>
        <li *ngFor="let ride of plannedRides">
          <div>
            <strong>Departure:</strong> {{ ride.departureTime | date: 'short' }}
          </div>
          <div>
            <strong>Route:</strong> {{ ride.origin }} → {{ ride.destination }}
          </div>
          <div>
            <strong>Seats Available:</strong> {{ ride.availableSeats }}
          </div>
          <div>
            <strong>Status:</strong> {{ ride.status }}
          </div>
        </li>
      </ul>
    </section>
    
    
    <section class="stats">
      <h3>Rides statistics</h3>
      <div class="chart">
        <canvas baseChart
                [datasets]="barChartData.datasets"
                [labels]="barChartLabels"
                [options]="barChartOptions" 
                [type]="'bar'">
        </canvas>
      </div>
    </section>
    
    <section class="driver-goals">
      <h3>Driver Goals</h3>
      <ul>
        <li>
          <strong>First Goal(Rides)</strong>: {{driver.rideHistory?.length }} / 50
        </li>
      </ul>
    </section>
    
    <section class="vehicle-info">
      <h3>Vehicle Data</h3>
      <ul>
        <li><strong>Make:</strong> {{ vehicle.make }}</li>
        <li><strong>Model:</strong> {{ vehicle.model }}</li>
        <li><strong>Available Seats:</strong> {{ vehicle.seats }}</li>
        <li><strong>Vehicle Added at:</strong> {{ vehicle.createdAt | date: 'shortDate' }}</li>
      </ul>
    </section>
    
  </main>
</div>
