div {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(249, 249, 249, 0.7); 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  outline: none;
  border-color: #4c8bf5;
  box-shadow: 0 0 5px rgba(76, 139, 245, 0.5);
}

div[ngIf] {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

button {
  background-color: #3d6dc1;
  color: white;
  font-size: 16px;
  padding: 10px;
  width: 50%;
  margin-left: 150px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #3a7ee5;
  transform: scale(1.05); 
}
